html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

footer {
  display: flex;
  background-color: #400361;
  padding-bottom: 2.8rem;
}

footer .pages {
  display: grid;
  width: 30%;
  text-align: center;
  margin-top: 6rem;
}
footer .pages a {
  text-decoration: none;
  font-weight: bold;
  font-family: "Changa", sans-serif;
  color: rgb(240, 235, 235);
  font-size: 1.9rem;
  padding: 0rem;
  margin: 0rem;
}
footer .pages a:hover {
  color: rgb(83, 81, 81);
  transform: scale(1.3);
}
footer .logo_bot {
  text-align: center;
  width: 40%;
  margin: 0rem;
}
footer .logo_bot img {
  padding-bottom: 0rem;
  margin-right: 6%;
  width: 30rem;
  height: auto;
  padding-bottom: -5rem;
  margin-bottom: -7.5rem;
}
footer .doc {
  display: grid;
  width: 30%;
  text-align: right;
  margin-top: 2.3rem;
}
footer .doc a {
  text-decoration: none;
  font-weight: bold;
  font-family: "Changa", sans-serif;
  color: rgb(240, 235, 235);
  font-size: 1.7rem;
  padding-left: 0.8rem;
  margin: 0rem;
}
footer .doc a:hover {
  color: rgb(83, 81, 81);
}
footer .follow {
  display: flex;
  width: 25%;
  text-align: center;
  margin-top: 3rem;
  /* text-align: center; */
  align-items: center;
  flex-direction: column;
  gap: 15%;
}
footer .follow h4 {
  font-family: "Roboto", sans-serif;
  color: rgb(240, 235, 235);
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 0.1rem;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
footer .follow a {
  size: 9rem;
  width: auto;
  color: rgb(240, 235, 235);
  transition: 0.5s;
}
footer .follow a:hover {
  color: #ff720b;
  transition: 0.5s;
}
footer .follow .linkedin:hover {
  color: #0077b5;
}
footer .follow .instagram:hover {
  color: #bc2a8d;
}
footer .follow .twitter:hover {
  color: #00acee;
}
#customer {
  font-size: 2rem;
  color: rgb(240, 235, 235);
}

@media (max-width: 1122px) {
  html {
    font-size: 65%;
  }
}
@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 817px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
@media (max-width: 655px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 630px) {
  footer .logo_bot img {
    width: 20rem;
    height: auto;
  }
}
@media (max-width: 450px) {
  footer {
    flex-direction: column;
  }
  footer .pages {
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 0rem;
    padding: 55px 55px 0px 20px;
    gap: 30px;
  }
  footer .logo_bot {
    text-align: center;
    width: 100%;
    margin: 0;
  }
  footer .follow {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin-top: 7rem;
    padding: 15px;
    text-align: center;
    align-items: center;
    gap: 15%;
  }
}
@media (max-width: 420px) {
  footer .logo_bot img {
    /* width: 12rem; */
    height: auto;
  }
}
