.footer{
    background: #400361;
    padding: 20px 88.8375px;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:gainsboro;
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:#fcdd44;
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box span{
    display: block;
}

.footer .box-container .box .links i{
    color:#fcdd44;
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:gainsboro;
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--black);
    margin-right: .2rem;
    background: rgb(181, 179, 180);
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: rgb(100, 3, 118);
}

.footer .box-container .box .contact-info a{
    display: inline;
    margin-right: 30px;
    font-size: 25px;
    color: gainsboro;
}

.footer .box-container .box .share a:hover{
    background: #fcdd44;
    color: #fff;
}


.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:gainsboro;
    border-top: .1rem solid rgba(255, 255, 255, .2);
    /* border-top: var(--border); */
}

.footer .credit span{
    color:#fcdd44;
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }

}
