.inner{
    overflow: hidden;
}

.inner img{
    transition: all 2.5s ease;
}
.inner img:hover{
    transform: scale(1.1);
}

.card-effect{
    transition: all 0.35s ease-out;
}

.card-effect:hover{
    transform: scale(1.05);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-effect2{
    transition: all 0.35s ease-out;
}

.card-effect2:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.02);
}