// .arz-home-scroll{
//     height: 100vh;
//     overflow: hidden;
//     position: relative;
// }
.arz-home{
    height: 150vh;
    position: absolute;
    top:80px;
    overflow: hidden;
    position: relative;
    margin-bottom: 150px;
    
    background: #D7C8DF;
    // background: -webkit-radial-gradient(bottom left, #D7C8DF, #DCC864);
    // background: -moz-radial-gradient(bottom left, #D7C8DF, #DCC864);
    // background-image: radial-gradient( #D7C8DF, #DCC864);


    &-parallax{
        width: 100%;
        height:100%;
        position: absolute;
        background-repeat:no-repeat;
        background-size:cover;
        background-position: center;


        //white
        &-img1{
            left: 200px;
            width: 60%;
            height:40%;
            //dark purple
            background-image: url('/css/assets/white1.png');
            z-index: var(--z-normal);
        }
        &-img3{
           
            width: 40%;
            height:30%;
            background-image: url('/css/assets/white2.png');
            z-index: var(--z-fixed);
        }
        &-img6{
            top:-50px;
            left: 950px;
            width: 40%;
            height:30%;
            background-image: url('/css/assets/white2.png');
            z-index: var(--z-fixed);
        }

        //light purple
        &-img5{
            top: 550px;
            left: -100px;
            width: 60%;
            height:50%;
            //gol light purple
            background-image: url('/css/assets/2.png');
            z-index: 8;
        }
        &-img6{
            top: 480px;
            left: 550px;
            width: 60%;
            height:50%;
            //gol light purple
            background-image: url('/css/assets/2.png');
            z-index: 7;
        }
        &-img7{
            top:150px;
            left:0px;
            width: 50%;
            height:50%;
            //light purple 
            background-image: url('/css/assets/3.png');
            z-index: 6;
        }
        &-img4{
            top:-50px;
            left:500px;
            width: 80%;
            height:80%;
            //light purple 
            background-image: url('/css/assets/1.png');
            z-index: 6;
        }
        //dark purple
        &-img2{
            top:280px;
            left: 380px;
            width: 100%;
            height:100%;
            //sundar dark purple
            background-image: url('/css/assets/6.png');
            z-index: 8;
        }
        &-img8{
            top:400px;
            left:-200px;
            width: 70%;
            height:70%;
            z-index: 8;
            //sundar dark purple
            background-image: url('/css/assets/7.png');
        }
        &-img9{
            top:250px;
            left:-200px;
            width: 80%;
            height:70%;
            z-index: 6;
            //sundar dark purple
            background-image: url('/css/assets/7.png');
        }
       
       
    } 
    &-title,&-subtitle{
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
        color: var(--white-color);
    }
    &-title{
        top:32%;
        font-size: 100px;
        font-weight: bold;
        color: #BE79c4;
    }
    &-subtitle{
        color: #400361;
        top:44%;
        font-weight: bold;
        font-size: 100px;
        z-index: var(--z-tooltip);
    }
    &-scroll{
        position: absolute;
        bottom: 2.5rem;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 1.5rem;
        z-index: var(--z-modal);
    }
}