*{
    padding: 0;
    margin: 0;
    
}
.User{
    margin-left: 30px;
    margin-top: -14px;
}
.User:hover{
background-color:none;
}
.history{
    position: fixed;
    margin-left: 400px;
}
.th{
    margin-top: 60px;
    margin-top: 20px;   
}
.Profile{
position: fixed;
height: 87vh;
margin: 30px;
width: 300px;
border-radius: 5%;
border-bottom: 2px solid rgb(246, 210, 216);
border-top: 2px solid rgb(232, 208, 212);
border-left: 2px solid rgb(192, 237, 255);
border-right: 2px solid rgb(192, 237, 255);
}
.tour2{
    position: relative;
    margin-left: 400px;
    margin-top: -247px;
}
.tour4{
    position: relative;
    margin-left: 400px;
    margin-top: -247px;
}
.background{
    overflow: hidden;
    inset: 0;
    height: 100vh;
    width: 100vw;
}
.sec{
    margin: 20px;
}
.user{
  margin-left: 100px;
  height: 50px;
}
.name{
    margin: 20px;
    margin-top: 50px;
}
.contact{
    margin-left: 20px;
}
.fav{
    margin: 20px;   
}
input[type=text]
{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color:inherit ;
}
.iName{
    margin-left: 20px;
}
.none{
    color: grey;
}
.iConatct{
    position: fixed;
    margin-left: -60px;  
}
.pic{
    margin-left: 55px;
    margin-top: 30px;
}